.home-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}
#carroussel-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.rounded-l {
  margin: 2rem;
  width: 60%;
  height: auto;
}

.rounded-l img {
  filter: grayscale(100%);
}

.intro-text-section {
  background-color: #00a893;
  width: 50%;
  height: 10rem;
  margin-top: -12rem;
  margin-bottom: 2rem;
  border-radius: 0.1rem;
  z-index: 5;
  text-align: center;
  color: #f3f4f6;
  font-size: large;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

#odoimplant-title {
  font-weight: bold;
  font-size: larger;
}
#subtitle {
  font-size: smaller;
}

.experience-section {
  display: flex;
  margin: 6rem 3rem;
}
.experience-section img {
  filter: grayscale(100%);
  width: 40%;
  height: auto;
  margin: 1rem;
  border-radius: 0.2rem;
}

#experience-head {
  background-color: #00a893;
  width: 30rem;
  height: 7rem;
  margin: 1rem;
  border-radius: 0.2rem;
  text-align: center;
  color: #f3f4f6;
  font-size: larger;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
#years-experience {
  font-weight: bold;
}

#boxes-container {
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
}
#boxes-container div {
  margin: 1rem;
  width: 20rem;
  height: auto;
}

.aparatologia-section {
  margin: 6rem 3rem;
  display: flex;
}

#aparatología-text {
  margin-left: 4rem;
  margin-right: 3rem;
  color: rgba(0, 0, 0, 0.372);
}

.title {
  font-size: xx-large;
  margin-bottom: 2rem;
}
.title span {
  color: #00a893;
}

.aparatologia-section img {
  width: 45%;
  height: auto;
  border-radius: 0.2rem;
}

.urgencias-section {
  display: flex;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
#urgencias-text {
  padding-right: 4rem;
  padding-left: 3rem;
  color: rgba(0, 0, 0, 0.372);
}

.urgencias-sintomas {
  width: 60%;
  height: auto;
  margin: 4rem;
}

.urg-icon {
  width: 2rem;
  height: 2rem;
}
.urgencias-sintomas li {
  display: flex;
  font-size: larger;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.372);
}

.urgencias-sintomas li p {
  margin-left: 2rem;
  margin-bottom: 1rem;
}

li span {
  color: #00a893;
}

.financiacion-tiempo {
  display: flex;
  flex-direction: column;
  color: rgba(0, 0, 0, 0.372);
}

.financiacion-tiempo-section {
  display: flex;
  margin: 4rem 3rem;
}
.financiacion-section {
  margin-right: 3rem;
}
.tiempo-section {
  margin-top: 4rem;
  margin-right: 3rem;
}

.pasillo-img {
  width: 40%;
  height: auto;
}
@media (max-width: 1400px) {
  .experience-section {
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin-top: 1rem;
  }
  .experience-section img {
    display: none;
  }
  #urgencias-text {
    padding-right: 1rem;
    padding-left: 3rem;
    color: rgba(0, 0, 0, 0.372);
  }
  #urgencias-sintomas {
    margin: 2rem;
  }
  .financiacion-tiempo-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .financiacion-tiempo {
    margin-right: 2rem;
  }
  .financiacion-tiempo-section img {
    margin-top: 4rem;
    width: 90%;
  }
}
@media (max-width: 830px) {
  .intro-text-section {
    margin-top: 1rem;
    width: 70%;
    height: auto;
  }
  .experience-section {
    margin-left: 0;
    margin-right: 0;
  }
  #boxes-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
  }
  #boxes-container div {
    padding: 0.8rem;
  }
  .urgencias-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
  }
  .aparatologia-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
  }
  .aparatologia-section img {
    margin-bottom: 4rem;
    width: 90%;
  }
  #aparatología-text {
    margin-left: 0.8rem;
    margin-right: 0.8rem;
  }
  #urgencias-text {
    margin-left: 0.8rem;
    margin-right: 0.8rem;
    padding-left: 0;
  }
  .urgencias-sintomas {
    margin-bottom: 1rem;
  }
  .urgencias-sintomas li p {
    margin-left: 0.5rem;
  }
  .financiacion-tiempo-section {
    text-align: center;
    align-items: center;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
  }

  .financiacion-section {
    margin-right: 0;
  }
  .tiempo-section {
    margin-right: 0;
  }
  .financiacion-text {
    margin-left: 0.8rem;
    margin-right: 0.8rem;
  }
  .tiempo-text {
    margin-left: 0.8rem;
    margin-right: 0.8rem;
  }
}

@media (max-width: 450px) {
  #boxes-container div {
    margin: 1rem;
    width: 90%;
    height: auto;
  }
}
