nav {
  position: sticky;
  top: 0;
  z-index: 1;
}
#nav-container {
  display: flex;
}

.logo-nav {
  height: 3rem;
  width: auto;
  margin: 1rem;
  padding-top: 0.5rem;
}

button {
  background-color: #04a793;
  color: #f3f4f6;
  height: 3rem;
  width: auto;
  margin: 0 1rem;
  padding: 0 1rem;
  border-radius: 0.3rem;
}

button:hover {
  box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
}
